/*
The stylesheet that we shall make it look pretty with!
*/
/* 
    Created on : May 14, 2015, 2:59:39 PM
    Author     : bryan
*/

canvas {
   background-color: #00ccff;
   background-image: url('Frog-and-butterfly.jpg');
}